OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

PVE_URL=https://localhost:8006/api2/json
PVE_TOKEN="user@realm!tokenid="

AIRTABLE_API_KEY=
AIRTABLE_BASE=

ENCRYPTION_KEY=
DATABASE_URL=postgres://
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/
SENTRY_DSN=
SENTRY_AUTH_TOKEN

NDP_API_KEY=

ADMIN_EMAILS="1@example.com,2@example.com"
OS_TEMPLATE=local:vztmpl/debian-13-standard_13.1-2_amd64.tar.zst
ROOTFS=local-zfs:8

PORT=1234
MOCINNO_PORT=3001
WEB_PORT=3000
BASTION_PORT=22

DISABLE_SSL=true
NODE_ENV="production"

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

APP_SECURE=false
APP_DOMAIN=

STALWART_DOMAIN=
STALWART_API_KEY=
