# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.*
!.env.example

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# bastion keys
bastion_host_key
bastion_host_key.pub
bastion_proxy_key
bastion_proxy_key.pub

*.sqlite
/config.ts

.svelte-kit
build
